.jogo {
    max-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: white;
}

.jogo__title {
    font-size: 1.5rem;
    color: #436147;
    text-align: center;
}

.jogo__spec-title {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    color: #333;
    display: block;
}

.jogo__spec-value {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

.thumbnail {
    width: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
}

.description {
    margin: 1.25rem 0 1rem;
}

.jogoDescItem {
    margin: 1rem 0;
}

.jogoPropriedadeItem {
    display: inline-block;
    margin: 0 0.2rem;
    color: #333;
}

.button {
    background-color: gray;
    cursor: pointer;
}

.button:hover {
    background-color: green;

}