.header {
    background-color: brown;
    padding: 10px 0 0 10px;

}

.foto {
    width: 200px;
    border-radius: 50%;
}

.nome {
    margin-left: 70px;
}

.repository, .descricao {
    padding: 0 20px;
    text-align: center;
    list-style: none;
}

.repository {
    border: solid 2px rgba(20, 20, 20, 0.1);
    ;
}

.repository:hover, .descricao:hover {
    background-color: rgb(94, 94, 100);
}

.destacar {
    color: red;
    font-size: 10px;
}

.grid {
    display: flex;
}